{% assign t = site.data.us_ua[page.lang] %}

<form action="https://api.web3forms.com/submit" method="POST" >

    <input type="hidden" name="access_key" value="02be6486-fa98-4af8-8706-6aea43c9b934">

    
    <label for="first-name">{{ t.contact.first-name }}</label><br>
    <input type="text" name="name" placeholder="{{t.contact.placeholder-name}}" required />
    <!--<input type="text" name="name" required>-->
    <label for="last-name">{{ t.contact.last-name }}</label><br>
    <input type="text" name="last_name" placeholder="{{t.contact.placeholder-surname}}" required />
    <label for="email">{{ t.contact.email }}</label><br>
    <input type="email" name="email" required />
    <label for="message">{{ t.contact.message }}</label><br>
    <textarea name="message" required></textarea>

    <!--<input type="hidden" name="redirect" value="{% if page.lang == 'en' %}http://127.0.0.1:4000/thank/{% else %}http://127.0.0.1:4000/ua/thank/{% endif %}">-->
    <input type="hidden" name="redirect" value="{% if page.lang == 'en' %}{{ site.url }}{{ site.baseurl }}/thank/{% else %}{{ site.url }}{{ site.baseurl }}/ua/thank/{% endif %}">

    <button type="submit">{{ t.contact.send }}</button>

</form>