{% assign t = site.data.us_ua[page.lang] %}

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZVQNV9D');</script>
<!-- End Google Tag Manager -->
 <!-- Google tag (gtag.js) --> 
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-72NNEVRC7J"></script> 
   <script> window.dataLayer = window.dataLayer || []; 
   function gtag(){
    dataLayer.push(arguments);
   } 
   gtag('js', new Date()); 
   gtag('config', 'G-72NNEVRC7J'); 
   </script>
   <!-- End Google tag (gtag.js)-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png?v=2' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png?v=2' | relative_url }}">
<link rel="icon" href="{{ '/assets/img/favicon.ico?v=2' | relative_url }}">
  <title>
    {% case page.slug %}
      {% when "about" %}{{ t.seo.about.title }}
      {% when "gallery" %}{{ t.seo.gallery.title }}
      {% when "contact" %}{{ t.seo.contact.title }}
      {% else %}{{ t.title }}
    {% endcase %}
  </title>
  <meta name="description" content="{% case page.slug %}
    {% when 'about' %}{{ t.seo.about.description }}
    {% when 'gallery' %}{{ t.seo.gallery.description }}
    {% when 'contact' %}{{ t.seo.contact.description }}
    {% else %}{{ t.description }}
  {% endcase %}">
  
  {% if page.lang == "ua" %}
    <link rel="alternate" hreflang="uk" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/ua' }}" />
  {% elsif page.lang == "en" %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <link rel="alternate" hreflang="uk" href="{{ site.url }}{{ site.baseurl }}/ua{{ page.url }}" />
  {% endif %}
 
  {% if page.url == "/" and page.lang == "en" %}
    <link rel="alternate" hreflang="uk" href="{{ site.url }}{{ site.baseurl }}/ua/" />
  {% elsif page.url == "/ua/" and page.lang == "ua" %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}/" />
  {% endif %}

  



<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">



  
  <!--<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>-->
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  
</head>
    