{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVQNV9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  
  {% include header.html %}

  <div class="contact-page">
    <div class="container">
      <h1>{{ t.contact.title }}</h1>
      <p>{{ t.contact.subtitle }}</p>

        <div class="contact-info">
          <p><strong>Email:</strong> <a href="mailto:3d.visualization.yuliia@proton.me">3d.visualization.yuliia@proton.me</a></p>
          <p><strong>PersonalEmail:</strong> <a href="mailto:krsyulyan4i4ek@gmail.com">krsyulyan4i4ek@gmail.com</a></p>
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/yuliia-karas-a873511b4/" target="_blank">Yuliia Karas</a></p>
          <p><strong>ArtStation:</strong> <a href="https://www.artstation.com/yulyan4i4ek" target="_blank">artstation.com/yulyan4i4ek</a></p>
          <p><strong>Instagram:</strong> <a href="https://www.instagram.com/che3dmodeler/" target="_blank">instagram.com/che3dmodeler</a></p>
          <p><strong>Telegram:</strong> <a href="https://t.me/che3dmodeler" target="_blank">@che3dmodeler</a></p>
          <!--<p><strong>Behance:</strong> <a href="https://www.behance.net/" target="_blank">behance.net/yourprofile</a></p>-->
        </div>

       {% include form.html %}
    
    </div>
  </div>
      
  {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </body>
</html>
