{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ t.lang }}">
    
{% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVQNV9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include header.html t=t %}
    <main>
     <section class="main-hero">
       <div class="left-side">
         <picture class="hero-bg">

    <!-- Mobile -->
    <source 
      media="(max-width: 768px)"
      srcset="
        /assets/img/3d-mobile.webp 1x,
        /assets/img/3d-mobile@2x.webp 2x
      ">

    <!-- Tablet -->
    <source 
      media="(max-width: 1200px)"
      srcset="
        /assets/img/3d-tablet.webp 1x,
        /assets/img/3d-tablet@2x.webp 2x
      ">

    <!-- Desktop -->
    <img 
      src="/assets/img/3d-desktop.webp"
      srcset="/assets/img/3d-desktop@2x.webp 2x"
      alt="3D arts"
      class="bg-image"
      loading="eager"
      fetchpriority="high"
    >

  </picture>

  <div class="overlay"></div>
          <div class="content-box">

            

            <h1>{{ t.hero.art_title }}</h1>
            <p>{{ t.hero.art_description }}</p>
            
            {% if page.lang == "ua" %}
              <a href="/ua/gallery/" class="btn btn-gallery">{{ t.view_3d }}</a>
            {% else %}
              <a href="/gallery/" class="btn btn-gallery">{{ t.view_3d }}</a>
            {% endif %}

            {% if page.lang == "ua" %}
              <a href="https://t.me/che3dmodeler" class="btn btn-gallery">{{ t.order_3d }}</a>
            {% else %}
              <a href="https://t.me/che3dmodeler" class="btn btn-gallery">{{ t.order_3d }}</a>
            {% endif %}

            
              
            </div>
        </div>



        <div class="photo-caption">
           <p>{{ t.hero.caption }}</p>
        </div>

    <div class="center-photo">
      
    </div>

    <div class="right-side">
<picture class="hero-bg">

    <!-- Mobile -->
    <source 
      media="(max-width: 768px)"
      srcset="
        /assets/img/web-mobile.webp 1x,
        /assets/img/web-mobile@2x.webp 2x
      ">

    <!-- Tablet -->
    <source 
      media="(max-width: 1200px)"
      srcset="
        /assets/img/web-tablet.webp 1x,
        /assets/img/web-tablet@2x.webp 2x
      ">

    <!-- Desktop -->
    <img 
      src="/assets/img/web-desktop.webp"
      srcset="/assets/img/web-desktop@2x.webp 2x"
      alt="Web development"
      class="bg-image"
      loading="lazy"
    >

  </picture>

  <div class="overlay"></div>
            <div class="content-box">

            <h1>{{ t.hero.web_title }}</h1>
            <p>{{ t.hero.web_description }}</p>
            
            {% if page.lang == "ua" %}
              <a href="#" class="btn btn-gallery">{{ t.view_web }}</a>
            {% else %}
              <a href="#" class="btn btn-gallery">{{ t.view_web }}</a>
            {% endif %}

            {% if page.lang == "ua" %}
              <a href="/ua/services/" class="btn btn-gallery">{{ t.order_web }}</a>
            {% else %}
              <a href="/services/" class="btn btn-gallery">{{ t.order_web }}</a>
            {% endif %}
              
            </div>
        

  </section>

   
  </main>
  {% include footer.html t=t %}
  
  <script>
const hero = document.querySelector('.main-hero');
const left = document.querySelector('.left-side');
const right = document.querySelector('.right-side');

hero.addEventListener('mousemove', (e) => {
  const x = e.clientX;
  const width = window.innerWidth;

  if (x < width / 2) {
    // HOVER LEFT
    left.style.transform = "translateX(90%)";
    right.style.transform = "translateX(0%)";
  } else {
    // HOVER RIGHT
    left.style.transform = "translateX(0%)";
    right.style.transform = "translateX(90%)";
  }
});

hero.addEventListener('mouseleave', () => {
  left.style.transform = "translateX(0)";
  right.style.transform = "translateX(0)";
}); </script>
  </body>
</html>
