{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ t.lang }}">
    
{% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVQNV9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include header.html t=t %}
    <main>
      <div class="main-overlay">
    <h1>{{ t.hero.title }}</h1>
    <h2>{{ t.hero.subtitle }}</h2>
    </div>
    
    <div class="buttons-wrapper">
          {% if page.lang == "ua" %}
            <a href="/ua/gallery/" class="btn btn-gallery">{{ t.view_gallery }}</a>
          {% else %}
            <a href="/gallery/" class="btn btn-gallery ">{{ t.view_gallery }}</a> 
          {% endif %}
    </div>
  </main>
  {% include footer.html t=t %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </body>
</html>
