{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ t.lang }}">
    
{% include head.html %}

  <body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVQNV9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include header.html t=t %}

<div class="error-page">
    <div class="error-overlay">
  <h1>{{ t.seo.error.title }}</h1>
  <p>{{ t.seo.error.description }}</p>
  <div class="error-page-buttons">
  <a href="{% if page.lang == 'en' %}/{% else %}/ua/{% endif %}" class="btn-back">
    {{ t.back_mainpage }}
  </a>
  <a href="{% if page.lang == 'en' %}/gallery/{% else %}/ua/gallery/{% endif %}" class="btn-back">
    {{ t.view_gallery }}
  </a>
  </div>
  </div>
</div>
{% include footer.html t=t %}
<script>
  if (
    window.location.pathname.startsWith('/ua/') &&
    window.location.pathname !== '/ua/404.html'
  ) {
    window.location.href = '/ua/404.html';
  }
</script>
  </body>
</html>