{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ t.lang }}">
    
{% include head.html %}

  <body>
    {% include header.html t=t %}

<div class="error-page">
    <div class="error-overlay">
  <h1>{{ t.seo.error.title }}</h1>
  <p>{{ t.seo.error.description }}</p>
  <div class="error-page-buttons">
  <a href="{% if page.lang == 'en' %}/{% else %}/ua/{% endif %}" class="btn-back">
    {{ t.back_mainpage }}
  </a>
  <a href="{% if page.lang == 'en' %}/gallery/{% else %}/ua/gallery/{% endif %}" class="btn-back">
    {{ t.view_gallery }}
  </a>
  </div>
  </div>
</div>
{% include footer.html t=t %}
<script>
    if (window.location.pathname.startsWith('/ua/')) {
      window.location.href = '/ua/404.html';
    }
  </script>
  </body>
</html>