{% assign lang = page.lang | default: "en" %}
{% assign project = site.data.projects | where: "name", page.project_id | first %}
{% assign content = project[lang] %}

<!DOCTYPE html>
<html lang="{{ lang }}">
  {% assign t = site.data.us_ua[page.lang] %}

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZVQNV9D');</script>
<!-- End Google Tag Manager -->
 <!-- Google tag (gtag.js) --> 
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-72NNEVRC7J"></script> 
   <script> window.dataLayer = window.dataLayer || []; 
   function gtag(){
    dataLayer.push(arguments);
   } 
   gtag('js', new Date()); 
   gtag('config', 'G-72NNEVRC7J'); 
   </script>
   <!-- End Google tag (gtag.js)-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
  <title>{{ content.title }}</title>
  <meta name="description" content="{{ content.description }}">
  
  {% if page.lang == "ua" %}
    <link rel="alternate" hreflang="uk" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/ua' }}" />
  {% elsif page.lang == "en" %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    <link rel="alternate" hreflang="uk" href="{{ site.url }}{{ site.baseurl }}/ua{{ page.url }}" />
  {% endif %}
 
  {% if page.url == "/" and page.lang == "en" %}
    <link rel="alternate" hreflang="uk" href="{{ site.url }}{{ site.baseurl }}/ua/" />
  {% elsif page.url == "/ua/" and page.lang == "ua" %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.baseurl }}/" />
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</head>
    
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVQNV9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include header.html %}
  <div class="project-page">
    <div class="project-overlay">
      <h1>{{ content.title }}</h1>
      <p class="description">{{ content.description }}</p>

      <div class="tags">
        {% for tag in content.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>

      <div class="image-gallery">
        {% for image in project.images %}
          <div class="gallery-item">
            <img src="/assets/img/gallery/{{ project.category_id }}/{{ project.name }}/full/{{ image }}" alt="{{ content.alt[forloop.index0] }}">
            <p class="description">{{ content.description_img[forloop.index0] }}</p>
          </div>
        {% endfor %}

        {% if project.video %}
          <div class="shorts-container">
            <iframe src="https://www.youtube.com/embed/{{ project.video }}" allowfullscreen></iframe>
          </div>
        {% endif %}

        {% if project.video1 %}
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/{{ project.video1 }}" allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>

      <a href="{% if lang == 'ua' %}/ua/gallery/{% else %}/gallery/{% endif %}" class="btn btn-primary">
        {% if lang == 'ua' %}← ← Назад до галереї{% else %}← ← Back to Gallery{% endif %}</a>
      <a href="{% if lang == 'ua' %}/ua/gallery/{{ project.category_id }}{% else %}/gallery/{{ project.category_id }}{% endif %}" class="btn btn-primary">
        {% if lang == 'ua' %}← Назад до категорії{% else %}← Back to Category{% endif %}</a>
    </div>
  </div>
  {% include footer.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>
