{% assign t = site.data.us_ua[page.lang] %}

<!DOCTYPE html>
<html lang="{{ t.lang }}">
    
{% include head.html %}

  <body>

    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVQNV9D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include header.html t=t %}

<div class="services-page">
    <div class="services-overlay">
  <h1>{{ t.seo.services.title1 }}</h1>
  <h3>{{ t.seo.services.h31 }}</h3>
  <h2>{{ t.seo.services.h21 }}</h2>
  <p>{{ t.seo.services.description1 }}</p>
  <div class="services-page-buttons">
  <a href="https://t.me/che3dmodeler" target="_blank" class="btn-back">
    {{ t.select }}
  </a>
  </div>
  </div>

  <div class="services-overlay">
  <h1>{{ t.seo.services.title2 }}</h1>
  <h3>{{ t.seo.services.h32 }}</h3>
  <h2>{{ t.seo.services.h22 }}</h2>
  <p>{{ t.seo.services.description2 }}</p>
  <div class="services-page-buttons">
  <a href="https://t.me/che3dmodeler" target="_blank" class="btn-back">
    {{ t.select }}
  </a>
  </div>
  </div>

  <div class="services-overlay">
  <h1>{{ t.seo.services.title3 }}</h1>
  <h3>{{ t.seo.services.h33 }}</h3>
  <h2>{{ t.seo.services.h23 }}</h2>
  <p>{{ t.seo.services.description3 }}</p>
  <div class="services-page-buttons">
  <a href="https://t.me/che3dmodeler" target="_blank" class="btn-back">
    {{ t.select }}
  </a>
  </div>
  </div>
</div>

{% include footer.html t=t %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>